<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ formName }}</td>
        </tr>
        <tr>
            <th>Dojo Location:</th>
            <td>{{ formLocation }}</td>
        </tr>
        <tr>
            <th>Favorite Language:</th>
            <td>{{ formLanguage }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ text }}</td>
        </tr>
    </table>
</body>
</html>