<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>New Books</h1>
            <form action="new_book" method="post">
                Title: <input type="text" name="book_title">
                Number of Pages: <input type="text" name="num_of_pages">
                <button type="submit">Create</button>
            </form>
            <a href="/authors">Home</a>
        </div>
        <div class="right">
            <h1>All Books</h1>
            <table>
                {% for book in books %}
                    <tr>
                        <a href="{{ book.id }}">{{ book.name }}</a>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>